@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
    box-sizing: border-box;
    list-style: none;
}

body {
    background-color: #fff;
    overflow-x: hidden;
    color: #030C11;
}
header {
    padding: 30px 20px 30px 60px;
    width: 100%;
    background-color: #87a330;
}
h2 {
    left: 20%;
    color: #030C11;
}
main {
   padding-top: 10vh;
   padding-left: 120px;
   padding-right: 120px;
}
.dash-cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.dash-card {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
.card1 {
    border: 1px solid #f18805;
    border-radius: 10px;
    padding: 20px 40px 20px 40px;
}
.card1 .dash-card-content {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.card1 .dash-card-content button{
    margin-left: 20px;
    background-color: #87a330;
    border: none;
    border-radius: 30px;
    padding: 5px 10px 5px 10px;
}
.card2 {
    border: 1px solid #87a330;
    border-radius: 10px;
    padding: 20px 40px 20px 40px;
}
.card2 .dash-card-content {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.card2 .dash-card-content button{
    margin-left: 20px;
    background-color: #87a330;
    border: none;
    border-radius: 30px;
    padding: 5px 10px 5px 10px;
}

.summary {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.client-card {
    background-color: #dadada;
    border-radius: 10px;
    padding: 20px 10px 20px 10px;
    width: 60%;
    margin-top: 50px;
    overflow: auto;
}
.card-header {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px 5px 20px 5px;
    
}
.card-header button{
    margin-left: 20px;
    background-color: #87a330;
    border: none;
    border-radius: 30px;
    padding: 5px 10px 5px 10px;
    font-weight: 800;
}
.agent-card {
    background-color: #dadada;
    border-radius: 10px;
    padding: 20px 10px 20px 10px;
    margin-top: 50px;
    width: 50%;
    overflow: auto;
}
table th td {
    font-weight: 800;
}
table tr td{
    padding-right: 30px ;
    padding-bottom: 20px;    
}

tr td img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.client-card::-webkit-scrollbar{
    width:0.5rem;
    height: 0.5rem;
}
.client-card::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #1e1e1e;
    visibility: hidden;
}
.client-card:hover::-webkit-scrollbar-thumb{
   visibility: visible;
}
.agent-card::-webkit-scrollbar{
    width:0.5rem;
    height: 0.5rem;
}
.agent-card::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #1e1e1e;
    visibility: hidden;
}
.agent-card:hover::-webkit-scrollbar-thumb{
   visibility: visible;
}

/*responsive*/
@media(max-width:800px){
    .dash-card{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .logo {
        padding-left: 10px;
        width: 100%;
    }
    main {
        padding-left: 70px;
        padding-right: 70px;
    }
    .agent-card, .client-card {
        width: 90%;
    }
}
@media(max-width:768px){
    .dashboard-cards {
        width: 100%;
    } 
    .logo{
        width: 100%;
    }
    .summary-card{
        width: 100%;
        overflow: scroll;
    }
    main {
        padding-left: 30px;
        padding-right: 30px;
    }
    .agent-card, .client-card {
        width: 100%;
    }
}